<h1>#<%= @a.hashtag %></h1>
<h3><%= @a.title %></h3>
<p><%= @c %> tweets exist</p>
<hr>
<table>
  <tr>
    <th></th>
    <th>Screen Name</th>
    <th>Created At</th>
    <th>Text</th>
<% @tweets.each do |t| %>
  <tr>
    <td><img src="<%= t.users[0].profile_image_url %>" alt="<%= t.users[0].screen_name %>"/></td>
    <td><%= t.users[0].screen_name %></td>
    <td><%= t.created_at.convert_zone('Asia/Tokyo').to_s %></td>
    <td><%= t.text %></td>
  </tr>
<% end %>
</table>
<hr>
<a href="/">top</a>

